.footer{
    padding: 20px 150px;
    background-color: #111111;
    color: #888888;

    &__top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__topLeft{
        display: flex;
        gap: 40px;
    }

    &__shopList{
        
    }
}